//color
$accent: #f39f18;

$darkBlue: #2c3949;
$lightBlue: #394b5f;
$bg: #f9f9f9;

$fontawesome_path: '../fonts/fontawesome';



//common style
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/smartgrid";
@import "_misc/adjustment";
@import "_misc/font-awesome";

// animation
@import "_misc/preloader";
@import "common/hamburger";
@import "common/popup";


//section
@import "common/header";
@import "common/rating";
@import "common/deals";
@import "common/account";
@import "common/advantages";
@import "common/work";
//@import "common/about";
//@import "common/feedback";
//@import "common/reviews";
//@import "common/partners";
//@import "common/footer";