section.section.about#js-about
	.container
		.header-mid.about_row
			.header-mid__left
				.about__content
					h2.top__title= secTitle.about
					.top__desc= desc.about
					.about__list
						each text, svg in aboutItems
							li.deals__item
								+svg("deals__svg", svg)
								.deals__text= text

			.header-mid__right
				+form('about')