section.section.account#js-account
	+sectionTop(secTitle.account, desc.account, "white_text")
	.account-mid
		+ratingList(accountList, "account__list")
		//.container
			.account__content


				//-for(var i=0; i<8; i++)

					//.content__item
						.content__item-title
							a(href="#" class="item__link") Документальное оформление
						.content__item-desc.
							Документальное оформление всех хозяйственных операций предприятия
					//if (i == 3)
						.content__item
							.content__item_wrap
								+svg("account__svg", "book")

	+sectionBottom("Заказать бухгалтерские услуги", "account")