section.section.account#js-account
	+sectionTop(secTitle.account, desc.account, "white_text")
	.account-mid
		+ratingList(accountList, "account__list")

	+sectionBottom("Заказать бухгалтерские услуги", "account")