header(style= inlineImg.header_bg).header#js-header
		+headerTop
		.container
			.header-mid
				.header-mid__left
					.header-mid__wrap
						h1.header__title Armata Financical Group
						ul.title__list
							each value, key in titleList
								li.title__item
									a(href=`#js-${key}` class="title__link")= value
				.header-mid__right
					+form
		a(href="#js-rating" class="header__circle")





