section.section.rating#js-rating
	+sectionTop(secTitle.rating, desc.rating)
	.rating-mid
		div(style= inlineImg.rating_bg).rating-mid__top
		.rating-mid__bottom
	+sectionBottom("Заказать оценку", "rating")



