section.section.rating#js-rating
	+sectionTop(secTitle.rating, desc.rating)

	div(style= inlineImg.rating_bg).rating-mid
		+ratingList(ratingTop, 'rating__item_top')

	.rating-bottom
		.bottom__triangle
			+svg("triangle__svg-libra", "libra")
			+svg('logo__svg logo__svg_triangle', 'logo')
		.bottom__bg
			+ratingList(ratingBottom, 'rating__item_bottom')
	+sectionBottom("Заказать оценку", "rating")



