.footer {
	background: $lightBlue;
	min-height: rem(220px);
}
.header-top {
	&.footer {
		padding: rem(80px) 0;
		color: rgba(#fff, .65);
		.logo__svg {
			fill: rgba(#fff, .65);
		}
		.nav__link {
			color:  rgba(#fff, .65);
		}
		.phone-number {
			color:  rgba(#fff, .65);
		}
		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
			background: rgba(#fff, .65);
		}
		.nav__list {
			top: auto;
			bottom: 100%
		}
	}
}
.footer__bottom {
	background: $darkBlue;
	min-height: rem(37px);
	display: flex;
}
.top__arrow {
	margin: auto;
	padding: rem(8px);
	@include icon-pseudo($icon-angle-double-up){
		font-size: rem(15px);
		color: rgba(#fff, .65);
	}
}